
/* GENERAL WINDOW STYLING */
.background {
    -fx-background-color: #3B3e43;
}

.windowTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 24;
    -fx-text-fill: rgba(255, 255, 255, .9);
}

.menuBackground {
    -fx-fill: #33383D;
}

.menuLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-alignment: center;

    -fx-background-color: rgba(99, 155, 199, .2);
    -fx-border-color: #3B3E4330;

    -fx-border-radius: 5%;
    -fx-background-radius: 5%;
}

.menuLabel:hover {
    -fx-background-color: rgba(99, 155, 199, .5);
}

.menuLabelActive {
    -fx-background-color: rgba(99, 155, 199, .5);
}

.menuTitleLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: rgba(255, 255, 255, .9);
    -fx-alignment: center;
}

.helpLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: rgba(255, 255, 255, .4);
    -fx-border-color: rgba(255, 255, 255, .4);
    -fx-border-radius: 50%;
    -fx-alignment: center;
}

.helpLabel:hover {
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-border-color: rgba(255, 255, 255, .7);
}

.check-box .box {
    -fx-pref-width: 13;
    -fx-pref-height: 13;
    -fx-background-color: #3b3e43;
    -fx-border-color: rgba(255, 255, 255, .1);
    -fx-border-width: 2;
}

.check-box .box:hover {
    -fx-border-color: rgba(255, 255, 255, .5);
}

.check-box:selected .mark {
    -fx-background-color: rgba(255, 255, 255, .6);
}

.check-box:selected .box {
    -fx-background-color: rgba(99, 155, 199, .8);
}

.slider .track {
    -fx-background-color: #3B3E43;
}

.slider .thumb {
    -fx-background-color: rgba(99, 155, 199, .8);
    -fx-pref-width: 13;
    -fx-pref-height: 13;
}

.combo-box-base {
    -fx-background-color: #33383D;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-color: rgba(255, 255, 255, .1);
}

.combo-box-base:hover {
    -fx-border-color: rgba(255, 255, 255, .3);
}

.combo-box .list-cell {
    -fx-background: #33383D;
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, .9);
    -fx-padding: 3 0 2 15;
    -fx-cell-size: 1.66667em;
    -fx-alignment: center;
}

.combo-box-popup .list-view {
    -fx-background-color: #33383D;
    -fx-background-insets: 0, 1;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #33383D;
    -fx-text-fill: rgba(255, 255, 255, .6);
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #33383D;
    -fx-text-fill: rgba(255, 255, 255, .8);
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: rgba(255, 255, 255, .9);
}

.mapChooser .scroll-bar:vertical {
    -fx-background-color: #33383D;
    -fx-pref-width: 10;
}

.mapChooser .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:horizontal *.increment-arrow,
.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.errorMsg {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-text-fill: #E52C00;
    -fx-alignment: CENTER-RIGHT;
}

.statusMsg {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-RIGHT;
}




/* GRID STYLING */

.gridBackground {
    -fx-fill: transparent;
    -fx-stroke: rgba(255, 255, 255, .3);
}

.gridRec {
    -fx-fill: transparent;
    -fx-stroke: rgba(255, 255, 255, .05);
}

.startNode {
    -fx-fill: green;
    -fx-stroke: rgba(255, 255, 255, .2);
}

.endNode {
    -fx-fill: red;
    -fx-stroke: rgba(255, 255, 255, .2);
}

.obstacleNode {
    -fx-fill: grey;
    -fx-stroke: rgba(255, 255, 255, .2);
}

.jpsNeighbour {
    -fx-fill: rgba(255, 255, 255, .1);
    -fx-stroke: rgba(255, 255, 255, .2);
}

.open {
    -fx-fill: #A6927A;
    -fx-stroke: rgba(255, 255, 255, .2);
}

.closed {
    -fx-fill: #9EC0C0;
    -fx-stroke: rgba(255, 255, 255, .2);
}

.path {
    /*-fx-fill: #749DA7;*/
    -fx-fill: rgba(255, 255, 255, .9);
    -fx-stroke: rgba(255, 255, 255, .2);
}



/* RESULT PANE STYLING */

.resultPaneBackground {
    -fx-background-color: #33383D99;
    -fx-background-radius: 3%;
    -fx-border-color: white;
    -fx-border-radius: 3%;
}

.closeLabel {
    -fx-opacity: .7;
}

.closeLabel:hover {
    -fx-opacity: 1;
}

.resultsTitleLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-text-fill: rgba(255, 255, 255, .9);
    -fx-alignment: center;
}

.resultsLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, .8);
}



/* HOW TO PANE STYLING */

.howToPane {
    -fx-background-color: #33383D;
    -fx-opacity: .9;
    -fx-border-color: rgba(255, 255, 255, .5);
    -fx-border-width: 2;
    -fx-border-radius: 1%;
    -fx-background-radius: 1%;
}

.contentPane {
    -fx-background-color: #33393F;
}

.scrollPane {
    -fx-background-color: #33393F;
}

.scrollPane .scroll-bar:vertical {
    -fx-background-color: #33383D;
    -fx-pref-width: 10;
}

.scrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.howToTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 36;
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-alignment: center;
}

.howToSubTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 24;
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-alignment: CENTER-LEFT;
}

.howToEntry {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15;
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-alignment: CENTER-LEFT;
}

.howToDescTitle {
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}

.howToDesc {
    -fx-font-family: "Arial";
    -fx-font-size: 15;
    -fx-text-fill: rgba(255, 255, 255, .6);
    -fx-alignment: CENTER-LEFT;
}

.howToDescLarge {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-text-fill: rgba(255, 255, 255, .6);
    -fx-alignment: TOP-LEFT;
    -fx-wrap-text: true;
}

.menuDesc {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12;
    -fx-text-fill: rgba(255, 255, 255, .8);
}

.menuImg {
    -fx-fill: url("/pictures/menu.png");
}
